* {
  font-family: sans-serif;
  text-align: center;
  background: rgba(19, 3, 3, 0.671);
  max-width: 960px;
  align-items: center;
  margin: auto;
  margin-top: 35px;

  
}
h1,h2{
  color: aliceblue;
}
input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius:5px;
  
}
input {
  display: block;
  margin-left: 350px;
  align-items: center;
  margin-bottom: 20px;
}
button {
  border: 1px solid rgb(29, 22, 22);
  background: whitesmoke;
  margin-right: 5px;
  background: rgb(128, 70, 24);
  color: rgb(31, 11, 15);
}
/*button:nth-last-child(2),
button:nth-last-child(1) {
  
}*/